<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">2024 DeepDive 과정, 임창희</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="evcharge/sample" class="nav-link px-2 text-body-secondary">전기차 충전소</a></li>
        <li class="nav-item"><a href="evcharge/list" class="nav-link px-2 text-body-secondary">충전소 목록</a></li>
        <li class="nav-item"><a href="/projectintro" class="nav-link px-2 text-body-secondary">사이트 소개</a></li>
    </ul>
</footer>